--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.0.1+cpu
sentence-transformers==2.6.1
transformers==4.38.2
faiss-cpu
fastapi
uvicorn
pymongo
boto3
python-dotenv
spacy
pypdf
python-docx
numpy
tqdm
phonenumbers
pandas
python-multipart